@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
    --color-100: 224 242 254;
    --color-200: 186 230 253;
    --color-300: 125 211 252;
    --color-400: 56 189 248;
    --color-500: 14 165 233;
    --color-600: 2 132 199;
    --color-700: 3 105 161;
    --color-800: 7 89 133;
    --color-900: 12 75 161;
}

#app[data-theme='tyrion'] {
    --color-100: 244 144 172;
    --color-200: 236 98 137;
    --color-300: 248 79 129;
    --color-400: 213 59 102;
    --color-500: 174 36 73;
    --color-600: 140 28 63;
    --color-700: 106 20 52;
    --color-800: 72 12 42;
    --color-900: 38 4 32;
}


/*
// Skyblue
100 - 224 242 254
200 - 186 230 253
300 - 125 211 252
400 - 56 189 248
500 - 14 165 233
600 - 2 132 199
700 - 3 105 161
800 - 7 89 133
900 - 12 75 161

// Tyrion Purple
100 - 244 144 172
200 - 236 98 137
300 - 248 79 129
400 - 213 59 102
500 - 174 36 73
600 - 140 28 63
700 - 106 20 52
800 - 72 12 42
900 - 38 4 32
 */